.greyBox{
  background: url("../images/KFCP.jpg");
  background-repeat: no-repeat;
  width: 100%;
  height:45px;
  padding-top:435px;
}
.spacer {
  margin: 40px;
}

.spacer-small {
  margin: 10px;
}
.myspan {
    display: block;
    width:150ox;
    height:60px;
}